{% comment %}
  This section is used in the cart template to render /cart page with an
  overview of the items in customer's cart.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/cart
{% endcomment %}

<h1>购物车</h1>

<form action="{{ routes.cart_url }}" method="post">
  <table>
    {% for item in cart.items %}
      <tr>
        <td>
          {% render 'mk-image', image: item.image, width: 200, height: 200 %}
        </td>
        <td>
          <p>{{ item.product.title }}</p>
          <a href="{{ item.url_to_remove }}">移除</a>
        </td>
        <td>
          <input type="text" name="updates[]" value="{{ item.quantity }}">
          <input type="submit" value="更新">
        </td>
      </tr>
    {% endfor %}
  </table>

  <input type="submit" name="checkout" value="结账">
</form>

{% schema %}
{
  "name": "t:general.cart",
  "settings": []
}
{% endschema %}